<!--  <div class="main"><h1>{{titleMain}}</h1>

</div> -->
<div class="all">

    <div class="top">

        <div class="h1-button">

            <h1> List Of Items</h1>
                <button type="submit" class="btn-add">
                    Add New
                </button>
          
        </div>
        <h4>Total added: 3 </h4>

    </div>


  <div class="list">
    
      <div class="list-1">Visiting my Familly
           <button type="submit" class="delete-1">
            delete
           </button>
      </div>
    
    
      <div  class="list-2">Playing Basketball
            <button type="submit" class="delete-2">
            delete
            </button>
    
      </div>

      <div  class="list-3">Learning Angular
            <button type="submit" class="delete-3">
            delete
            </button>
      </div>
    
    </div>



</div>

   



